.write-component {
    margin: 0 auto;
    text-align: center;
    outline: dashed black;
    border-radius: 10px;
    width: 700px;
    padding-bottom: 20px;
}

.title {
    text-align: left;
}

.write-form {
    text-align: left;
    margin-left: 80px;
}

.errors {
    color: #cc0000;
    font-weight: bold;
    margin-top: 20px;
}

.write-actions {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.write-submit {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px;
}

.write-cancel {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px;
}

.write-name {
    display: flex;
    margin-bottom: 10px;
}

.write-name input {
    margin-left: 30px;
}

.write-rating {
    display: flex;
    margin-bottom: 10px;
}

.write-rating input {
    margin-left: 62px;
}

.write-review {
    display: flex;
    margin-bottom: 10px;
}

.write-review textarea {
    margin-left: 20px;
}